<%- include('partials/header')-%>
    <h1>Home</h1>
    <p><%=key%></p>

       <% pos.forEach(function(post){ %>
         <h1><%=post.title%></h1>
         <p><%=post.content.substring(0 , 100) + "..."%>
          <a href="/<%=post.title%>">Read More</a>
        </p>
        <%})%>
   
<%- include('partials/footer')-%>
